.custom-select {
    width: 100%;
    height: 30px;
}
.checkbox-inline {
    display: inline;
    width: 13px; 
    height: 13px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}